<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Dette er SRLI siden</h1>

    <h2>Dette er standard reperations delen</h2>

    <h3>Oversigt over standard reperationer</h3>

    <p th:each="stdRepairLineItem :${stdRepairLineItem}">
        <span th:text="${stdRepairLineItem.description} + ' ' + ${stdRepairLineItem.time} + ' ' + ${stdRepairLineItem.price}" />
        <a th:href="@{'/viewStdRepairLineItem/' + ${stdRepairLineItem.std_repair_line_item_id}}" th:text="${stdRepairLineItem.description}"/>
        <a style="color: red;" th:href="@{'/deleteStdRepairLineItem/' + ${stdRepairLineItem.std_repair_line_item_id}}" th:text="${stdRepairLineItem.description}"/>
        <a style="color: green;" th:href="@{'/updateStdRepairLineItem/' + ${stdRepairLineItem.std_repair_line_item_id}}" th:text="${stdRepairLineItem.description}"/>
    </p>

    <h3>opret ny standard reperation</h3>

    <form action="/createStdRepairLineItem" method="post">
        <input type="text" name="description">
        <input type="text" name="time">
        <input type="text" name="price">
        <input type="submit" value="opret ny">
    </form>


</body>
</html>