/*made by EB*/


body {
    margin: 0;
    font-family: Arial, Helvetica;
    background-color: #f2f2f2;
    overflow:scroll;
}

h1{
    font-size: 40px;
}

table{
    border-spacing: 0px;
    border-color: #5F9EA0;
    text-align: center;
    color: white;
    padding: 0px;
    font-size: 22px;
    width: 100%;
}

th{
    background-color: #404040;
    text-align: center;
}

th.hidden{

}

td {
    text-align: center;
    border-bottom: 1px solid;
    border-color: #404040;
    padding: 10px 10px;
}

tr {
    text-align: center;
    background-color: #5F9EA0;
    border-style: solid;
    border-spacing: 1px;
}

tr:hover{
    background-color: #436e70;
}

.repaired {
    background-color: mediumseagreen;
}

.repaired:hover{
    background-color: seagreen;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 17px;
    text-decoration: none;
    font-size: 23px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #5F9EA0;
    color: white;
}

.btn-group button {
    background-color: #5F9EA0; /* Green background */
    border: 1px solid black; /* Green border */
    color: white; /* White text */
    padding: 5px 5px; /* Some padding */
    font-size: 22px;
    text-align: -moz-center;
    vertical-align: middle;
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #436e70;
}

.label {
    color: white;
    padding: 1px;
    font-family: Arial
}

.date {
    background-color: #404040;
    color: white;
    border: 1px solid black;
    font-size: 28px;
    width: 100%;
}

.blocksmall {
    display: block;
    width: 20%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.blocksmall:hover {
    background-color: #ddd;
    color: black;
}
.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.block:hover {
    background-color: #ddd;
    color: black;
}

* {
    box-sizing: border-box;
}

