<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>updateBicycle</title>
</head>
<body>

<h1>Opdater en cykel</h1>

<form action="/updatebicycle" method="post">
    <input type="hidden" name="bicycle_id" th:value="${bicycle.bicycle_id}">
    <input type="text" name="description" th:value="${bicycle.description}">
    <input type="text" name="customer_id" th:value="${bicycle.customer_id}">
    <input type="submit" value="gem ændringer">
</form>


</body>
</html>