<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styleemilie.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>find gennem telefon nummer</title>
</head>
<body>
<div th:replace="fragments/topnav :: topnavi(search)"></div>


<h2>Dette er en søgning af arbejdskort</h2>

<h3>Oversigt over arbejdskort</h3>


<button class="label date"><p id="demo"></p></button>

<script>
    var d = new Date();
    document.getElementById("demo").innerHTML = d.toDateString();
</script>

<script>
    $(document).ready(function() {
        $('tr').click(function() {
            var href = $(this).find("a").attr("href");
            if(href) {
                window.location = href;
            }
        });
    });
</script>

<table>
    <tr>
        <th>&nbsp</th>
        <th>Telefon nummer</th>
        <th>Kunde navn</th>
        <th>Arbejdskort nummer</th>
        <th>Status</th>
        <th>Afhentnings dato</th>
        <th>Medarbejder navn</th>
    </tr>
    <tr th:each="repBarLine :${repBarLine}">
        <td><a th:href="@{'/repaircasemain/' + ${repBarLine.repair_case_id}}"></a></td>
        <td th:text="${repBarLine.phone_number}"> </td>
        <td th:text="${repBarLine.customer_name}"> </td>
        <td th:text="${repBarLine.repair_number}"> </td>
        <td th:text="${repBarLine.status_title}"> </td>
        <td th:text="${repBarLine.end_date}"> </td>
        <td th:text="${repBarLine.employee_name}"> </td>
    </tr>
</table>

</div>
</body>
</html>