<!--Made by EB-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styleemilie.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('tr').click(function() {
                var href = $(this).find("a").attr("href");
                if(href) {
                    window.location = href;
                }
            });
        });
    </script>

    <meta charset="UTF-8">
    <title>Oversigt</title>
</head>
<body>

<div th:replace="fragments/topnav :: topnavi(overview)"></div>

<!--<div class="container" style="padding:0px; margin: 0px">-->
    <div class="box1" style="background-color: darkgrey">
        <h3>Søgninger i arbejdskort</h3>
        <div class="row">
            <div class="col-search">
                <form action="/searchPhone" method="post">
                    <input type="text" name="phone_number" size="12" pattern="[0-9]+" th:value="${phone_number}" placeholder="Telefonnummer"><br>
                    <input type="submit" value="søg">
                </form>
            </div>
            <div class="col-search">
                <form action="/searchCustomer" method="post">
                    <input type="text" name="name" th:value="${phone_number}" placeholder="kunde navn"><br>
                    <input type="submit" value="søg">
                </form>
            </div>
            <div class="col-search">
                <form action="/searchOnStatus" method="post">
                    <select id="status" name="status_id">
                        <option th:each="status :${status}" th:value="${status.status_id}" th:text="${status.status_title}"></option>
                    </select>
                    <input type="submit" value="vælg status">
                </form>
            </div>

            <form>
                <div class="col-search">
                    <input type="date" name="start_date" th:value="${start_date}"><br>
                    <input type="date" name="end_date" th:value="${end_date}">
                    <input type="submit" value="søg" formaction="/searchBetweenDates" formmethod="post">
                   <!-- <input type="submit" value="søg mellem oprettelses datoer" formaction="/searchBetweenStartDates" formmethod="post">-->
                </div>
            </form>

            <div class="col-search">
                <form>
                    <input type="text" name="name" th:value="${name}" placeholder="medarbejder navn"><br>
                    <input type="date" name="start_date" th:value="${start_date}"><br>
                    <input type="date" name="end_date" th:value="${end_date}">
                    <input type="submit" value="søg" formaction="/searchOnRepairEmployee" formmethod="post">

                </form>
            </div>
            <!--<div class="col-search">
                <form>
                    <input type="text" name="name" th:value="${name}" placeholder="medarbejder navn"><br>
                    <input type="date" name="start_date" th:value="${start_date}"><input type="date" name="end_date" th:value="${end_date}">
                    <input type="submit" value="søg på oprettelses medarbejder" formaction="/searchOnCreateEmployee" formmethod="post">
                </form>
            </div>-->
        </div>
    </div>
    <div class="row" style="padding:0px">
        <div class="col-2" style="padding:0px">
            <div>
                <button class="label date"><span id="demo"></span></button>

                <script>
                    var d = new Date();
                    document.getElementById("demo").innerHTML = d.toDateString();
                </script>

                <table>
                    <tr th:each="repBarLineD0 :${repBarLineD0}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineD0.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineD0.phone_number}"> </td>
                        <td th:text="${repBarLineD0.repair_number}"> </td>
                        <td th:text="${repBarLineD0.end_time}"> </td>
                    </tr>
                    <tr class="project" th:each="repBarLineDP0 :${repBarLineDP0}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineDP0.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineDP0.phone_number}"> </td>
                        <td th:text="${repBarLineDP0.repair_number}"> </td>
                        <td th:text="${repBarLineDP0.end_time}"> </td>
                    </tr>
                    <tr class="repaired" th:each="repBarLineFD0 :${repBarLineFD0}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineFD0.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineFD0.phone_number}"> </td>
                        <td th:text="${repBarLineFD0.repair_number}"> </td>
                        <td th:text="${repBarLineFD0.end_time}"> </td>

                    </tr>
                </table>
            </div>
        </div>
        <div class="col-2" style="padding:0px">
            <div>
                <button class="label date"><span id="tomorrow"></span></button>

                <script>
                    var d = new Date();
                    var tomorrow = new Date();
                    tomorrow.setDate(d.getDate()+1);
                    document.getElementById("tomorrow").innerHTML = tomorrow.toDateString();
                </script>

                <table>
                    <tr th:each="repBarLineD1 :${repBarLineD1}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineD1.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineD1.phone_number}"> </td>
                        <td th:text="${repBarLineD1.repair_number}"> </td>
                        <td th:text="${repBarLineD1.end_time}"> </td>
                    </tr>
                    <tr class="project" th:each="repBarLineDP1 :${repBarLineDP1}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineDP1.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineDP1.phone_number}"> </td>
                        <td th:text="${repBarLineDP1.repair_number}"> </td>
                        <td th:text="${repBarLineDP1.end_time}"> </td>
                    </tr>
                    <tr class="repaired" th:each="repBarLineFD1 :${repBarLineFD1}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineFD1.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineFD1.phone_number}"> </td>
                        <td th:text="${repBarLineFD1.repair_number}"> </td>
                        <td th:text="${repBarLineFD1.end_time}"> </td>

                    </tr>
                </table>
            </div>
        </div>
        <div class="col-2" style="padding:0px">
            <div>
                <button class="label date"><span id="day2"></span></button>

                <script>
                    var d = new Date();
                    var tomorrow = new Date();
                    tomorrow.setDate(d.getDate()+2);
                    document.getElementById("day2").innerHTML = tomorrow.toDateString();
                </script>

                <table>
                    <tr th:each="repBarLineD2 :${repBarLineD2}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineD2.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineD2.phone_number}"> </td>
                        <td th:text="${repBarLineD2.repair_number}"> </td>
                        <td th:text="${repBarLineD2.end_time}"> </td>

                    </tr>
                    <tr class="project" th:each="repBarLineDP2 :${repBarLineDP2}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineDP2.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineDP2.phone_number}"> </td>
                        <td th:text="${repBarLineDP2.repair_number}"> </td>
                        <td th:text="${repBarLineDP2.end_time}"> </td>
                    </tr>
                    <tr class="repaired" th:each="repBarLineFD2 :${repBarLineFD2}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineFD2.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineFD2.phone_number}"> </td>
                        <td th:text="${repBarLineFD2.repair_number}"> </td>
                        <td th:text="${repBarLineFD2.end_time}"> </td>

                    </tr>
                </table>
            </div>
        </div>
        <div class="col-2" style="padding:0px">
            <div>

                <button class="label date"><span id="day3"></span></button>

                <script>
                    var d = new Date();
                    var tomorrow = new Date();
                    tomorrow.setDate(d.getDate()+3);
                    document.getElementById("day3").innerHTML = tomorrow.toDateString();
                </script>

                <table>
                    <tr th:each="repBarLineD3 :${repBarLineD3}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineD3.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineD3.phone_number}"> </td>
                        <td th:text="${repBarLineD3.repair_number}"> </td>
                        <td th:text="${repBarLineD3.end_time}"> </td>

                    </tr>
                    <tr class="project" th:each="repBarLineDP3 :${repBarLineDP3}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineDP3.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineDP3.phone_number}"> </td>
                        <td th:text="${repBarLineDP3.repair_number}"> </td>
                        <td th:text="${repBarLineDP3.end_time}"> </td>
                    </tr>
                    <tr class="repaired" th:each="repBarLineFD3 :${repBarLineFD3}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineFD3.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineFD3.phone_number}"> </td>
                        <td th:text="${repBarLineFD3.repair_number}"> </td>
                        <td th:text="${repBarLineFD3.end_time}"> </td>

                    </tr>
                </table>
            </div>
        </div>
        <div class="col-2" style="padding:0px">
            <div>
                <button class="label date"><span id="day4"></span></button>

                <script>
                    var d = new Date();
                    var tomorrow = new Date();
                    tomorrow.setDate(d.getDate()+4);
                    document.getElementById("day4").innerHTML = tomorrow.toDateString();
                </script>

                <table>
                    <tr th:each="repBarLineD4 :${repBarLineD4}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineD4.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineD4.phone_number}"> </td>
                        <td th:text="${repBarLineD4.repair_number}"> </td>
                        <td th:text="${repBarLineD4.end_time}"> </td>

                    </tr>
                    <tr class="project" th:each="repBarLineDP4 :${repBarLineDP4}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineDP4.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineDP4.phone_number}"> </td>
                        <td th:text="${repBarLineDP4.repair_number}"> </td>
                        <td th:text="${repBarLineDP4.end_time}"> </td>
                    </tr>
                    <tr class="repaired" th:each="repBarLineFD4 :${repBarLineFD4}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineFD4.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineFD4.phone_number}"> </td>
                        <td th:text="${repBarLineFD4.repair_number}"> </td>
                        <td th:text="${repBarLineFD4.end_time}"> </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-2" style="padding:0px">
            <div>
                <button class="label date"><span id="day5"></span></button>

                <script>
                    var d = new Date();
                    var tomorrow = new Date();
                    tomorrow.setDate(d.getDate()+5);
                    document.getElementById("day5").innerHTML = tomorrow.toDateString();
                </script>

                <table>
                    <tr th:each="repBarLineD5 :${repBarLineD5}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineD5.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineD5.phone_number}"> </td>
                        <td th:text="${repBarLineD5.repair_number}"> </td>
                        <td th:text="${repBarLineD5.end_time}"> </td>

                    </tr>
                    <tr class="project" th:each="repBarLineDP5 :${repBarLineDP5}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineDP5.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineDP5.phone_number}"> </td>
                        <td th:text="${repBarLineDP5.repair_number}"> </td>
                        <td th:text="${repBarLineDP5.end_time}"> </td>
                    </tr>
                    <tr class="repaired" th:each="repBarLineFD5 :${repBarLineFD5}">
                        <td><a th:href="@{'/repaircasemain/' + ${repBarLineFD5.repair_case_id}}"></a></td>
                        <td th:text="${repBarLineFD5.phone_number}"> </td>
                        <td th:text="${repBarLineFD5.repair_number}"> </td>
                        <td th:text="${repBarLineFD5.end_time}"> </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>