<!--Made by EB-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styleJens.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('tr').click(function() {
                var href = $(this).find("a").attr("href");
                if(href) {
                    window.location = href;
                }
            });
        });
    </script>

    <meta charset="UTF-8">
    <title>Oversigt</title>
</head>
<body>

<div th:replace="fragments/topnav :: topnavi(overview)"></div>

<div style="padding-left:16px">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>
<button class="label date"><span id="demo"></span></button>

<script>
    var d = new Date();
    document.getElementById("demo").innerHTML = d.toDateString();
</script>

<table>
    <tr>
        <th>&nbsp</th>
        <th>Telefon nummer</th>
        <th>Arbejdskort nummer</th>
        <th>Status</th>
        <th>forventet tidsforbrug</th>
        <th>Afhentnings dato</th>
    </tr>
    <tr th:each="repBarLineO :${repBarLineO}">
        <td><a th:href="@{'/repaircasemain/' + ${repBarLineO.repair_case_id}}"></a></td>
        <td th:text="${repBarLineO.phone_number}"> </td>
        <td th:text="${repBarLineO.repair_number}"> </td>
        <td th:text="${repBarLineO.status_title}"> </td>
        <td th:text="${repBarLineO.time}"> </td>
        <td th:text="${repBarLineO.end_date}"> </td>
    </tr>
    <tr class="repaired" th:each="repBarLineR :${repBarLineR}">
        <td><a th:href="@{'/repaircasemain/' + ${repBarLineR.repair_case_id}}"></a></td>
        <td th:text="${repBarLineR.phone_number}"> </td>
        <td th:text="${repBarLineR.repair_number}"> </td>
        <td th:text="${repBarLineR.status_title}"> </td>
        <td> 0</td>
        <td th:text="${repBarLineR.end_date}"> </td>
    </tr>
</table>

<button class="label date"><span id="tomorrow"></span></button>
<script>
    var d = new Date();
    var tomorrow = new Date();
    tomorrow.setDate(d.getDate()+1);
    document.getElementById("tomorrow").innerHTML = tomorrow.toDateString();
</script>

<table>
    <tr>
        <th class="hidden">&nbsp</th>
        <th class="hidden">Telefon nummer</th>
        <th class="hidden">Arbejdskort nummer</th>
        <th class="hidden">Status</th>
        <th class="hidden">forventet tidsforbrug</th>
        <th class="hidden">Afhentnings dato</th>
    </tr>
    <tr th:each="repBarLineOT :${repBarLineOT}">
        <td><a th:href="@{'/repaircasemain/' + ${repBarLineOT.repair_case_id}}"></a></td>
        <td th:text="${repBarLineOT.phone_number}"> </td>
        <td th:text="${repBarLineOT.repair_number}"> </td>
        <td th:text="${repBarLineOT.status_title}"> </td>
        <td th:text="${repBarLineOT.time}"> </td>
        <td th:text="${repBarLineOT.end_date}"> </td>
    </tr>
    <tr class="repaired" th:each="repBarLineRT :${repBarLineRT}">
        <td><a th:href="@{'/repaircasemain/' + ${repBarLineRT.repair_case_id}}"></a></td>
        <td th:text="${repBarLineRT.phone_number}"> </td>
        <td th:text="${repBarLineRT.repair_number}"> </td>
        <td th:text="${repBarLineRT.status_title}"> </td>
        <td> 0</td>
        <td th:text="${repBarLineRT.end_date}"> </td>
    </tr>
</table>

<button class="label date"><span id="afterTomorrow"></span><span> Og fremefter</span></button>

<script>
    var day = new Date();
    var afterTomorrow = new Date();
    afterTomorrow.setDate(day.getDate()+2);
    document.getElementById("afterTomorrow").innerHTML = afterTomorrow.toDateString();
</script>
<table>
    <tr>
        <th>&nbsp</th>
        <th>Telefon nummer</th>
        <th>Arbejdskort nummer</th>
        <th>Status</th>
        <th>forventet tidsforbrug</th>
        <th>Afhentnings dato</th>
    </tr>
    <tr th:each="repBarLine :${repBarLine}">
        <td><a th:href="@{'/repaircasemain/' + ${repBarLine.repair_case_id}}"></a></td>
        <td th:text="${repBarLine.phone_number}"> </td>
        <td th:text="${repBarLine.repair_number}"> </td>
        <td th:text="${repBarLine.status_title}"> </td>
        <td th:text="${repBarLine.time}"> </td>
        <td th:text="${repBarLine.end_date}"> </td>
    </tr>
</table>


<!--
<div class="btn-group">
    <a th:each="repBarLine :${repBarLine}" th:href="@{'/repaircasemain/' + ${repBarLine.repair_case_id}}" style="text-decoration:none">
        <button ><i class='fas fa-wrench' style='font-size:24px'></i><span th:text="${repBarLine.phone_number}+' '+${repBarLine.repair_number}+' '+${repBarLine.status_title}+' '+${repBarLine.end_date}" /></button>
    </a>

</div>-->

<!--
<div class="btn-group">
        <a th:each="repBarLine :${repBarLine}" th:href="@{'/repaircasemain/' + ${repBarLine.repair_case_id}}" style="text-decoration:none">
            <button ><i class='fas fa-wrench' style='font-size:24px'></i><span th:text="${repBarLine.phone_number}+' '+${repBarLine.repair_number}+' '+${repBarLine.time}
  +' '+${repBarLine.price}+' '+${repBarLine.status_title}+' '+${repBarLine.end_date}" /></button>
        </a>
    </div>


<div class="btn-group">

      <a th:each="repBarLine :${repBarLine}" th:href="@{'/repaircasemain/' + ${repBarLine.repair_case_id}}" >
          <button th:text="${repBarLine.phone_number} + ' ' +${repBarLine.repair_number}+ ' ' +${repBarLine.time}
  + ' ' +${repBarLine.price}+ ' ' +${repBarLine.status_title}+ ' ' +${repBarLine.end_date}"/>

      </a>
  </div>-->


</body>
</html>