<!--Responsible for code: EB, EPS, VN-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styleemilie.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <meta charset="UTF-8">
    <title>Find Kunde</title>
</head>
<body>

<div class="topnav">
    <a href="/">CykelSystem</a>
    <a class="active" href="/overview">Oversigter</a>
    <a href="/getCustomer">Arbejdskort</a>
    <a href="/kassebilag">Kasserapport</a>
    <a href="/kunder">Kunder</a>
    <a href="/search">Søgninger</a>
    <a href="/settings">Indstillinger</a>
    <a href="/help">Hjælp</a>
</div>

<h2>Dette er rep bar delen</h2>

<h3>Oversigt over rep barer</h3>
<div class="container" style="padding-left:0px">
    <div style="padding-left:16px">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </div>

    <button class="label date"><p id="demo"></p></button>

    <script>
        var d = new Date();
        document.getElementById("demo").innerHTML = d.toDateString();
    </script>


    <div class="btn-group">
        <a th:each="repBarLine :${repBarLine}" th:href="@{'/repaircasemain/' + ${repBarLine.repair_case_id}}" style="text-decoration:none">
            <button ><i class='fas fa-wrench' style='font-size:24px'></i><span th:text="${repBarLine.phone_number}+' '+${repBarLine.repair_number}+' '+${repBarLine.status_title}+' '+${repBarLine.end_date}" /></button>
        </a>
    </div>
</div>

<!--
<div class="btn-group">
        <a th:each="repBarLine :${repBarLine}" th:href="@{'/repaircasemain/' + ${repBarLine.repair_case_id}}" style="text-decoration:none">
            <button ><i class='fas fa-wrench' style='font-size:24px'></i><span th:text="${repBarLine.phone_number}+' '+${repBarLine.repair_number}+' '+${repBarLine.time}
  +' '+${repBarLine.price}+' '+${repBarLine.status_title}+' '+${repBarLine.end_date}" /></button>
        </a>
    </div>


<div class="btn-group">

      <a th:each="repBarLine :${repBarLine}" th:href="@{'/repaircasemain/' + ${repBarLine.repair_case_id}}" >
          <button th:text="${repBarLine.phone_number} + ' ' +${repBarLine.repair_number}+ ' ' +${repBarLine.time}
  + ' ' +${repBarLine.price}+ ' ' +${repBarLine.status_title}+ ' ' +${repBarLine.end_date}"/>

      </a>
  </div>-->


</body>
</html>