<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Opdater en employee</h1>

<form action="/updateemployee" method="post">
    <input type="hidden" name="employee_id" th:value="${employee.employee_id}">
    <input type="text" name="name" th:value="${employee.name}">
    <input type="text" name="phone_number" th:value="${employee.phone_number}">
    <input type="submit" value="gem ændringer">
</form>

</body>
</html>