<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styleJens.css}"/>

    <meta charset="UTF-8">
    <title>Kundesøgning</title>
</head>
<body>
<div th:replace="fragments/topnav :: topnavi(customer)"></div>

<div class="container" style="padding-left:0px">
    <h3>Resultatet af din søgning</h3>
    <span th:each="customerSearch :${customerSearch}">
        <form action="/updateCustomerSearch/' + ${customerSearch.customer_id}" method="post">
            <input type="hidden" name="customer_id" th:value="${customerSearch.customer_id}">
            <input type="text" name="name" th:value="${customerSearch.name}">
            <input type="text" name="phone_number" size="12" pattern="[0-9]+" th:value="${customerSearch.phone_number}">
            <input type="submit" value="gem ændringer">
        </form>
    </span>
</div>

</body>
</html>