<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>

<h1>Customer screen</h1>

<p th:each="customer :${customer}">
    <span th:text="${customer.name}+' ' + ${customer.phone_number}" />


    <a th:href="@{'/detailsCustomer/' + ${customer.customer_id}}" th:text="${customer.name}+' ' + ${customer.phone_number}"/>
    <a style="color: red;" th:href="@{'/deleteCustomer/' + ${customer.customer_id}}" th:text="${customer.name}+' ' + ${customer.phone_number}"/>
    <a style="color: green;" th:href="@{'/updateCustomer/' + ${customer.customer_id}}" th:text="${customer.name}+' ' + ${customer.phone_number}"/>
</p>

<h1>opret ny kunde</h1>

<form action="/createCustomer" method="post">
    <input type="text" name="name">
    <input type="text" name="phone_number">
    <input type="submit" value="opret ny">
</form>

</body>
</html>