<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>update customer</title>
</head>
<body>

<h1>Opdater en kunde</h1>

<form action="/updateCustomer" method="post">
    <input type="hidden" name="customer_id" th:value="${customer.customer_id}">
    <input type="text" name="name" th:value="${customer.name}">
    <input type="text" name="phone_number" th:value="${customer.phone_number}">
    <input type="submit" value="gem ændringer">
</form>
</body>
</html>
