<!-- Made by EB -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styleJens.css}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="topnav">
    <a href="/">CykelSystem</a>
    <a href="/overviewJens">Oversigter</a>
    <a href="/getCustomer">Arbejdskort</a>
    <a href="/kassebilag">Kasserapport</a>
    <a class="active" href="/customer">Kunder</a>
    <a href="/search">Søgninger</a>
    <a href="/settings">Indstillinger</a>
    <a href="/employee">Medarbejder administration</a>
    <a href="/help">Hjælp</a>
</div>
<div class="container" style="padding-left:0px">
    <h1>Dette er kunde delen</h1>
    <h2>Her kan du administrere jeres kunder</h2>
</div>
<div class="container" style="padding-left:0px">
    <div class="row">
        <div class="col">

            <p>Her kan du opdatere kundeoplysninger</p>

            <h4>Ændre indhold i eksisterende kunder</h4>
            <span th:each="customer :${customer}">
                <form action="/updateCustomer/' + ${customer.customer_id}}" method="post">
                    <input type="hidden" name="customer_id" th:value="${customer.customer_id}">
                    <input type="text" name="name" th:value="${customer.name}">
                    <input type="text" name="phone_number" size="12" pattern="[0-9]+" th:value="${customer.phone_number}">
                    <input type="submit" value="gem ændringer">
                </form>
            </span>

        </div>
        <div class="col">
            <p>Søg efter kunder</p>

            <form action="/searchCustomerPhone" method="post">
                <input type="text" name="phone_number" size="12" pattern="[0-9]+" th:value="${phone_number}" placeholder="Telefonnummer"><br>
                <input type="submit" value="søg på telefon nummer">
            </form>

            <form action="/searchCustomerName" method="post">
                <input type="text" name="name" th:value="${name}" placeholder="kunde navn"><br>
                <input type="submit" value="søg på kundens navn">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Her kan du oprette nye kunder</h4>
                <form action="/createCustomer" method="post">
                    <input type="text" name="name" placeholder="kunde navn" required>
                    <input type="text" name="phone_number" size="12" pattern="[0-9]+" placeholder="Telefon nummer" required>
                    <input type="submit" value="opret ny kunde">
                </form>
        </div>
    </div>
</div>
</body>
</html>