<!-- Made by EB -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/styleemilie.css}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="topnav">
    <a href="/">CykelSystem</a>
    <a href="/overview">Oversigter</a>
    <a href="/getCustomer">Arbejdskort</a>
    <a href="/kassebilag">Kasserapport</a>
    <a href="/customer">Kunder</a>
    <a href="/search">Søgninger</a>
    <a href="/settings">Indstillinger</a>
    <a href="/employee">Medarbejder administration</a>
    <a class="active" href="/help">Hjælp</a>
</div>

<iframe height="650px" width="100%" src="ManualCykelSystem.pdf" name="iframe_a"></iframe>

</body>
</html>