<!--Made by JØ, VN, EPS-->
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Indstillinger</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styleemilie.css}"/>
</head>
<body>

    <div class="topnav">
        <a href="/">CykelSystem</a>
        <a href="/overview">Oversigter</a>
        <a href="/getCustomer">Arbejdskort</a>
        <a href="/kassebilag">Kassebilag</a>
        <a href="/kunder">Kunder</a>
        <a href="/search">Søgninger</a>
        <a class="active" href="/settings">Indstillinger</a>
        <a href="/help">Hjælp</a>
    </div>

    <div class="container" style="padding-left:0px">

        <H1>Indstillinger</H1>

        <h3>Her kan du ændre i systemets standard værdier</h3>

    </div>

    <div class="container" style="padding-left:0px">
        <div class="row">
            <div class="col">
                <h3>Standard reparations linier</h3>

                <h4>Ændre indhold i eksisterende linier eller slette linier</h4>
                <span th:each="stdRepairLineItem :${stdRepairLineItem}">
                        <form action="/updateStdRepairLineItem/' + ${stdRepairLineItem.std_repair_line_item_id}}" method="post">
                            <input type="hidden" name="std_repair_line_item_id" th:value="${stdRepairLineItem.std_repair_line_item_id}">
                            <input type="text" name="description" th:value="${stdRepairLineItem.description}">
                            <input type="text" name="time" size="5" style="text-align:right;" th:value="${stdRepairLineItem.time}">
                            <input type="text" name="price" size="5" style="text-align:right;" th:value="${#numbers.formatDecimal(stdRepairLineItem.price,1,0)}">
                            <input type="submit" value="gem ændringer">
                            <a style="color: red;" th:href="@{'deleteStdRepairLineItem/' + ${stdRepairLineItem.std_repair_line_item_id}}">Slet</a>
                        </form>
                    </span>

                <h4>Opret ny standard reparationslinie</h4>
                <form action="/createStdRepairLineItem" method="post">
                    <input type="text" name="description" placeholder="Beskrivelse">
                    <input type="text" name="time" size="5" style="text-align:right;" placeholder="Tid">
                    <input type="text" name="price" size="5" style="text-align:right;" placeholder="Pris">
                    <input type="submit" value="opret ny">
                </form>

                <p>&nbsp</p>
            </div>
            <div class="col">
                <h3>Standard cykeldel og tilbehørs linier</h3>

                <h4>Ændre indhold i eksisterende linier eller slette linier</h4>
                <span th:each="stdPartLineItem :${stdPartLineItem}">
                        <form action="/updateStdPartLineItem/' + ${stdPartLineItem.std_part_line_item_id}}" method="post">
                             <input type="hidden" name="std_part_line_item_id" th:value="${stdPartLineItem.std_part_line_item_id}">
                             <input type="text" name="description" th:value="${stdPartLineItem.description}">
                             <input type="text" name="price" size="5" style="text-align:right;" th:value="${#numbers.formatDecimal(stdPartLineItem.price,1,0)}">
                             <input type="submit" value="gem ændringer">
                             <a style="color: red;" th:href="@{'deleteStdPartLineItem/' + ${stdPartLineItem.std_part_line_item_id}}">Slet</a>
                        </form>
                    </span>
                <h4>Opret ny cykeldel eller tilbehørs linie</h4>
                <form action="/createStdPartLineItem" method="post">
                    <input type="text" name="description" placeholder="Beskrivelse">
                    <input type="text" name="price" size="5" style="text-align:right;" placeholder="Pris" pattern="[0-9]+">
                    <input type="submit" value="opret ny">
                </form>
            </div>
        </div>
    </div>


</body>
</html>