<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Indstillinger</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.grid.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styleemilie.css}"/>
</head>
<body>

<div class="topnav">
    <a href="/">CykelSystem</a>
    <a href="/overview">Oversigter</a>
    <a href="/getCustomer">Arbejdskort</a>
    <a href="/kassebilag">Kassebilag</a>
    <a href="/kunder">Kunder</a>
    <a href="/search">Søgninger</a>
    <a class="active" href="/settings">Indstillinger</a>
    <a href="/help">Hjælp</a>
</div>

    <div class="container" style="padding-left:20px">

        <H1>Indstillinger</H1>
        <h3>Her kan du ændre i standard værdier</h3>
        <h3>Her kan du se og ændre værdier for reparationer</h3>
        <h3>opret ny standard reparation</h3>
        <form action="/createStdRepairLineItem" method="post">
            <input type="text" name="description">
            <input type="text" name="time">
            <input type="text" name="price">
            <input type="submit" value="opret ny">
        </form>
        <h3>Ændre værdier for reparationer</h3>
        <span th:each="stdRepairLineItem :${stdRepairLineItem}">
            <form action="/updateStdRepairLineItem/' + ${stdRepairLineItem.std_repair_line_item_id}}" method="post">
                <input type="hidden" name="std_repair_line_item_id" th:value="${stdRepairLineItem.std_repair_line_item_id}">
                <input type="text" name="description" th:value="${stdRepairLineItem.description}">
                <input type="text" name="time" th:value="${stdRepairLineItem.time}">
                <input type="text" name="price" th:value="${stdRepairLineItem.price}">
                <input type="submit" value="gem ændringer">
                <a style="color: red;" th:href="@{'deleteStdRepairLineItem/' + ${stdRepairLineItem.std_repair_line_item_id}}">Slet</a>
            </form>

        </span>

        <h3>Her kan du se og ændre værdier for reparations dele</h3>
        <h3>opret ny reparations del</h3>
        <form action="/createStdPartLineItem" method="post">
            <input type="text" name="description">
            <input type="text" name="price">
            <input type="submit" value="opret ny">
        </form>

        <h3>Ændre værdier for reparations dele</h3>
        <span th:each="stdPartLineItem :${stdPartLineItem}">
            <form action="/updateStdPartLineItem/' + ${stdPartLineItem.std_part_line_item_id}}" method="post">
                 <input type="hidden" name="std_part_line_item_id" th:value="${stdPartLineItem.std_part_line_item_id}">
                 <input type="text" name="description" th:value="${stdPartLineItem.description}">
                 <input type="text" name="price" th:value="${stdPartLineItem.price}">
                 <input type="submit" value="gem ændringer">
                 <a style="color: red;" th:href="@{'deleteStdPartLineItem/' + ${stdPartLineItem.std_part_line_item_id}}">Slet</a>
            </form>
        </span>

    </div>

</body>
</html>