<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bicycle</title>
</head>
<body>

<h1>Bicycle screen</h1>

<p th:each="bicycle :${bicycles}">
    <span th:text="${bicycle.description}"/> <!--th:text="${bicycle.customer_id}"/>-->
    <!--<a th:href="@{'/Bicycle/' + ${bicycle.bicycle_id}}" th:text="${bicycle.description}" th:text="${bicycle.customer_id}"/>
    <!--<a style="color: red;" th:href="@{'/deletebicycle/' + ${bicycle.bicycle_id}}" th:text="${bicycle.description}"/>
    <a style="color: green;" th:href="@{'/updatebicycle/' + ${bicycle.bicycle_id}}" th:text="${bicycle.description}"/>-->
</p>

<h1>opret ny status</h1>

<!--<form action="/createStatus" method="post">
    <input type="text" name="status_title">
    <input type="submit" value="opret ny">
</form>-->



</body>
</html>