<!-- Made by EB -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styleemilie.css}"/>
    <title>Index</title>
</head>
<body>

    <div class="topnav">
        <a class="active" href="/">CykelSystem</a>
        <a href="/overview">Oversigter</a>
        <a href="/getCustomer">Arbejdskort</a>
        <a href="/kassebilag">Kasserapport</a>
        <a href="/customer">Kunder</a>
        <a href="/search">Søgninger</a>
        <a href="/settings">Indstillinger</a>
        <a href="/help">Hjælp</a>
    </div>

    <h1>Under konstruktion!</h1>
    <h2>Herfra skal medarbejderne kunne logge ind</h2>
    <p>Denne del af programmet er endnu ikke implementeret</p>

    <form action="/test" method="post">
        <input type="submit" value="test">
    </form>

</body>
</html>