<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Dette er index siden</h1>

    <a href="/bicycle">
        <button class="btn-bicycle, btn" id="bicycleBtn">bicycle</button>
    </a>
    <a href="/customer">
        <button class="btn-bicycle, btn" id="customerBtn">customer</button>
    </a>
    <a href="/employee">
        <button class="btn-bicycle, btn" id="employeeBtn">employee</button>
    </a>
    <a href="/repaircase">
        <button class="btn-bicycle, btn" id="repaircaseBtn">repaircase</button>
    </a>
    <a href="/status">
        <button class="btn-bicycle, btn" id="statusBtn">status</button>
    </a>
    <a href="/rli">
        <button class="btn-bicycle, btn" id="rliBtn">repair line item</button>
    </a>
    <a href="/srli">
        <button class="btn-bicycle, btn" id="srliBtn">std repair line item</button>
    </a>

    <p>
        <a href="/bstestvn">
            <button class="btn-bicycle, btn" id="bstestvn">Bootstrap testside Valentin</button>
        </a>
    </p>

</body>
</html>